<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:grv="http://myfaces.apache.org/groovy">
<head>
    <title>Hello World</title>
</head>
<body>
<ui:composition template="/template2.xhtml">
    <ui:define name="body">
        <!-- also we need to add some values here -->
        <h:form>
            <f:event name="postAddToView" listener="#{javatestbean.doPageInitStuff}"/>

            <h:commandLink style="color: white;" value="press me" action="#{javatestbean.doAction}"/>
            <grv:testcomponent2 testAttr="vvv" testAttr3="Attribute 3 set"
                                testAttr4="Attribute 4 set and showing"/>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>