<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<head>
    <title>Hello World</title>
</head>
<body>

<ui:composition template="/template.xhtml">

    <ui:define name="body">
        <h1><h:outputText value="Hello #{helloWorld.name}. We hope you enjoy Apache MyFaces Extensions Scripting"/></h1>
        <h:form id="form2">
            <h:panelGrid id="grid" columns="2" styleClass="stdBox">

                <h:commandLink id="link1" action="back">
                    <h:outputText id="linkText" value="GO HOME"/>
                </h:commandLink>

            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>
