<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Hello World</title>
</head>
<body>
<ui:composition template="/template.xhtml">

	<ui:define name="body">
		<h:form id="form">
			<h:panelGrid id="grid" columns="2">
				<h:outputText id="output1" value="Please enter your name" />
				<h:inputText id="input1" value="#{helloWorldBacking.name}"
					required="true" />
				<h:commandButton id="button1" value="press me"
					action="#{helloWorldBacking.send}" />
				<h:message id="message1" for="input1" />



                <h:outputText value="#{groovyBean.value}" />

                <h:outputText value="#{groovyBean.secondBean.value}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</body>
</html>
